/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 20, 2025, 8:07:27 AM
    Author     : admin
*/
.Main {
    -fx-background-color: lightblue;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-spacing: 10;
}

.Subject {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill: red;
    -fx-stroke: gold;
    -fx-stroke-width: 3;
}

.Button {
    -fx-font-size: 16;
    -fx-pref-width: 200;
    -fx-background-color: darkblue;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}