.Main {
    -fx-background-color: #121212;
    -fx-padding: 10;
    -fx-alignment: CENTER;
    -fx-spacing: 10;
}

.Subject {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill: #ffffff;
    -fx-stroke: gold;
    -fx-stroke-width: 3;
}

.Input {
    -fx-pref-width: 300;
    -fx-padding: 8;
}

.Button {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
    -fx-pref-width: 200;
    -fx-font-weight: bold;
}

