.Main {
    -fx-background-color: lightblue;
    -fx-padding: 10;
    -fx-alignment: CENTER;
    -fx-spacing: 10;
}

.Subject {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill: red;
    -fx-stroke: gold;
    -fx-stroke-width: 3;
}

.Button {
    -fx-background-color: darkblue;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-pref-width: 200;
    -fx-font-weight: bold;
}

.Input {
    -fx-pref-width: 300;
    -fx-padding: 8;
}

.Correct{
    -fx-fill: green;
}

.Wrong{
    -fx-fill: red;
}
